 h1{
                font-family: "Times New Roman";
                font-weight: Bold;
                font-size: 1.5cm;
                text-decoration: underline;
                text-align: center;
            }
figcaption{
	width:300px;
font-family: "Times New Roman";
                font-weight: normal;
                font-size: 20pt;
}

p{ font-family: "Times New Roman";
                font-weight: normal;
                font-size: 20pt;
}
a{"Times New Roman";
                font-weight: normal;
                font-size: 20pt;
}

p{ font-family: "Times New Roman";
                font-weight: normal;
                font-size: 20pt;

}

ol{font-family: "Times New Roman";
                font-weight: normal;
                font-size: 20pt;
}